/*CSS for contact-search*/
#contact-search {
    width: 100%;
    height: 40px;
    background-color: #cbcbcb;
}

input[name=contact-search-input] {
    align-self: center;
    text-align: center;
    margin: auto;
    outline: none;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    padding: 5px;
    width: 75%;
}

/*CSS for contact-main*/
#contact-main {
    width: 100%;
    height: calc(100% - 80px);
    padding: 10px 0;
    overflow: hidden;
}

.contact-main-people {
    display: flex;
    height: 50px;
}

.contact-main-people:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.contact-main-people-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}

.contact-main-people-online {
    height: 17px;
    width: 17px;
    border: 3px solid #f6f6f6;
    border-radius: 50%;
    position: absolute;
    margin-left: 30px;
}

.contact-main-people-offline {
    height: 42px;
    width: 42px;
    border: 4px solid #c4bcbc;
    border-radius: 50%;
    position: absolute;
    margin-left: -1px;
    margin-top: 4px;
    font-size: 10px;
    color: white;
    background-color: #a4a4a4b3;
    text-align: center;
    font-weight: 900;
}

.contact-main-people-name {
    margin-left: 0;
    font-weight: bold;
}

.contact-main-people-name1 {
    margin-left: 0;
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
}
.contact-main-people-message {
    margin-left: 0;
    font-size: 10px;
    font-weight: 500;
}


/*CSS for contact-button*/

#contact-button {
    width: 100%;
    height: 40px;
    background-color: #cbcbcb;
    margin-right: 0;
    margin-left: 0;
}

#contact-button > div:hover {
    background-color: #999999;
    cursor: pointer;
}

#count-recent{
    background: #ff0000b8;
}

#count-online{
    background: #068421ba;
}

.contact-count{
    font-size: 12px;
    width: 22px;
    height: 20px;
    color: white;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    margin-left: 30px;
    margin-top: 2px;
    font-weight: bold;
}

.seen-mess {
    font-size: 10px;
    display: flex;
    height: 20px;
    justify-content: flex-end;
}