#chat_bar {
    background-color: #979797;
    height: 40px;
    display: flex;
    align-content: center;
}

#mess_button {
    width: 46px;
    height: 46px;
    border: none;
    position: relative;
    margin-top: -2.5px;
    margin-left: 5px;
    cursor: pointer;
}

#All_chat_tab {
}

.red_line {
    background-color: red;
}

.chat_tab {
    width: 100px;
    height: 32px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 0px;
    position: relative;
    color: #2c2f2f;
    font-size: 14px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    border: 1px #c5c5c5 solid;
    border-bottom: none;
    background: #ffffff;
}

.chat_tab:hover {
    cursor: pointer;
    background: #cdcdcd;
}

.chat_tab_ava {
    height: 30px;
    display: flex;
    margin-right: 5px;
}

.chat_tab_ava > img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.chat_tab_name {
    height: 29px;
    display: flex;
}

.chat_tab_name > p {
    margin: auto;
}

.blue_line {
    background-color: #0064ff;
}

.chat_ava_tab {
    border-radius: 60%;
    size: 10px;
    width: 20px;
    margin-left: auto;
    margin-right: 3px;
}

#chat_body {
    height: calc(100% - 80px);
    background-color: #b5b3b3;
    overflow: auto;
}

.other_chat {
    display: flex;
    min-height: 50px;
    margin: 8px 0;
}

.other_chat_ava {
    height: 100%;
    display: inline-flex;
    margin: auto 7px;
}

.other_chat_ava > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.other_chat_mess {
    height: 100%;
    display: inline-flex;
    min-height: 50px;
}

.other_chat_mess > p {
    height: 100%;
    max-width: 320px;
    margin: auto;
    background: white;
    padding: 8px;
    border-radius: 12px;
}

.your_chat {
    display: flex;
    min-height: 50px;
    margin: 8px 0;
    justify-content: flex-end;
}

.your_chat_ava {
    height: 100%;
    display: inline-flex;
    margin: auto 7px;
}

.your_chat_ava > img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.your_chat_mess {
    height: 100%;
    display: inline-flex;
    min-height: 50px;
}

.your_chat_mess > p {
    height: 100%;
    max-width: 320px;
    margin: auto;
    background: #465dff;
    padding: 8px;
    border-radius: 12px;
    color: aliceblue;
}

#input_chat_content {
    display: inline-flex;
}

#input_chat_content > input {
    height: 100%;
    width: 360px;
    margin: auto;
    border: none;
    outline: none;
    background: #5a5a5a;
    color: white;
    padding: 0 10px;
}

#input_chat_content > input::placeholder {
    color: white;
}

#input_chat_send {
    height: 40px;
    width: 40px;
    display: inline-flex;
    background: #3b3b3b;
}

#input_chat_send:hover {
    background: rgba(255, 255, 255, 0.64);
    cursor: pointer;
}

#input_chat_send > i {
    margin: auto;
}


/*Test*/
.other_chat_mess_body li {
    display: block;
    padding: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
    border-radius: 12px;
    width: auto;
}

