#chat_bar{
    background-color: #d9d9d9;
    height: 40px;
    margin: auto;
    display: flex;
}
#mess_button {
    width: 46px;
    height: 46px;
    border: none;
    position: relative;
    margin-top: -2.5px;
    margin-left: 5px;
    cursor: pointer;
}
#All_chat_tab {
    width: 100px;
    height: available;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    background-color: #f6f6f6;
    border-color: red;
    border-top-left-radius: 12px;
    border-top-right-radius:12px;
    border-bottom: none;
    font-size: 20px;
    color: red;
    cursor: pointer;
}
.red_line{
    background-color: red;
}
.chat_tab {
    width: 100px;
    height: available;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    background-color: #f6f6f6;
    border-top-color: #0064ff;
    border-right-color: #0064ff;
    border-left-color: #0064ff;
    border-bottom: none;
    color: #0064ff;
    font-size: 14px;
}
.blue_line{
    background-color: #0064ff;
}
.chat_ava_tab {
    border-radius: 60%;
    size: 10px;
    width: 20px;
    margin-left: auto;
    margin-right: 3px;
}
#chat_body{
    height: calc(100% - 110px);
    background-color: #f6f6f6;
    overflow: auto;
}
.chat_ava_mess {
    border-radius: 60%;
    size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.other_chat_mess {
    display: inline-block;
    background-color: red;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 30px;
    padding: 10px;
    color: white;
}
#your_chat_mess {
    display: inline-block;
    background-color: #0064ff;
    border-radius: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 10px;
    color: white;
    float: right;
}
#input_chat_mess {
    height: calc(100% - 150px);
    background-color: #d9d9d9;
    margin: auto;
}
#chat_box {
    margin-top: 7px;
    border-radius: 10%;
    width: 75%;
    overflow: auto;
}
/*Test*/
.other_chat_mess_body li{
    display: block;
    padding: 10px;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: red;
    border-radius: 12px;
    width: auto;
}
