.task-bar {
    height: 100%;
}

#zone1 {
    width: calc(100% - 650px);
    background: #607d8b00;
    display: flex;
    justify-content: center;
}

#main-task-bar-logo {
    width: 45px;
    height: 100%;
}

#main-task-bar-info {
    height: 100%;
}

#main-task-bar-info:hover {
    background-color: rgba(255, 255, 255, 0.13);
    cursor: pointer;
}

#main-task-bar-name {
    font-size: 25px;
    font-family: fantasy;
    color: white;
    height: 100%;
    padding: 0 10px;
}

#main-task-bar-search {
    margin-left: 20px;
    margin-right: 30px;
    height: 30px;
}

#search-bar {
    width: 350px;
    height: 100%;
    border: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
}

#search-bar-icon {
    width: 40px;
    background: #b0b6cd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#search-bar-icon:hover {
    background: #e8eaf2;
    cursor: pointer;
}

.task-bar-icon {
    width: 40px;
    height: 100%;
}

.task-bar-icon:hover {
    background-color: #ffffffc2;
    cursor: pointer;
}

#notification-icon {
}

#friend-icon {
}


#zone2 {
    width: 400px;
    background: #34475800;
    margin-left: auto;
}

#zone3 {
    width: 250px;
    background: #49586269;
    display: flex;
}

#zone3:hover {
    cursor: pointer;
    background: #2e577a;
}

#task-bar-ava {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    margin: auto;
    object-fit: cover;
}

#task-bar-name {
    font-size: 16px;
    font-weight: bold;
    margin-left: 0;
    color: white;
}

#zone3-down {
    display: none;
    position: absolute;
    margin-top: 45px;
    z-index: 1;
    background-color: #d6d6d6;
}

.zone3-option {
    display: flex;
    width: 250px;
    height: 45px;
}

.zone3-option-name {
    font-size: 16px;
    font-weight: bold;
    margin-left: 0;
    color: #514f4f;
}

#zone3:hover #zone3-down {
    display: unset;
}

.zone3-option:hover {
    background-color: white;
}

#notification-zone {
    display: none;
    width: 280px;
    max-height: 380px;
    margin-left: -150px;
    background: #c4c4c4;
    position: absolute;
    z-index: 100;
    margin-top: 45px;
}

.notification-child {
    height: 50px;
    width: 100%;
    display: flex;
    background: #cbc7c7;
    border: 1px solid #d6d6d5;
}

.notification-child:hover {
    background: #316fe8bd;
}

.seen{
    background: #f6f6f6;
}

.nt-avatar {
    height: 100%;
    width: 80px;
    display: flex;
}

.nt-avatar > img {
    margin: auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.nt-content {

}

.nt-content > p {
    text-align: center;
    height: 30px;
}

.nt-icon {
    width: 80px;
    height: 100%;
    display: flex;
}

.nt-icon > i {
    margin: auto;
}

#notification-icon:hover #notification-zone{
    display: unset;
}

#notification-zone-include{
    max-height: 350px;
    overflow: auto;
}

#notification-zone-mark{
    height: 30px;
    width: 100%;
    background: #999999;
    display: flex;
}

#notification-zone-mark > p{
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}


#notification-zone-mark:hover{
    background: #316fe8bd;
}

#count-notification{
    display: none;
    background: red;
    margin-top: -25px;
    margin-left: 14px;
    font-weight: bolder;
    font-size: 12px;
    width: 18px;
    height: 17px;
}