body{
    width: 100%;
    overflow-x: hidden;
}
div.main_container {
    background-color: #eeeded;
    padding: 10px;
    margin: 10px;
    display: grid;
}
.avatar {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
div.main_content {
    margin: auto;
    display: inline-block;
    width: 550px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    position: relative;
}
#w_status {
    display: inline-block;
    vertical-align: middle;
    height: 125px;
    width: 100%;
}
#status_content {
    width: 528px;
    margin: 5px;
    height: 100px;
    resize: none;
    font-size: 14px;
}
#status_button {
    display: flex;
    height: 30px;
}
#user1infor {
    padding-left: 10%;
    padding-right: 10%;
}
.but {
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: white;
    width: 50px;
    height: 35px;
}
.but:hover{
    background-color: #cdcdcd;
}
#post_button {
    margin-left: 80%;
}
.username {
    text-align: center;
}
.newFeedTime {
    font-size: 13px;
    font-style: italic;
    margin-top: 5px;
}
.para{
    padding: 0 20px 0px 10px;
    margin-bottom: 15px;
    text-align: justify;
    white-space: pre-line;
    font-family: monospace;
    font-size: 16px;
}
.para:first-line{
    line-height: 0;
}
.pic {
    padding: 0px 0px 18px 16px;
}
.noneOutline{
    outline: none;
}
/*-----------------------Comment--------------------*/
.add_commentBtn{
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 35px;
    background-color: white;
    cursor: pointer;
}
.div_to_comment{
    margin: auto;
    display: inline-flex;
    width: 550px;
    height: 40px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    position: relative;
}
.ava_in_comment{
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
}
.username_in_comment{
    cursor: pointer;
    color: #0064ff;
}
.each_comment{
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.comment_field {
    border-radius: 25px;
    background-color: #d9d9d9;
    margin-left: 12px;
    padding: 12px;
    max-width: 460px;
    overflow-wrap: break-word;
}
.field_to_write_comment{
    width: 80%;
    margin-right: 10px;
}
.display_comment{
    margin: auto;
    width: 550px;
    background-color: #FFFFFF;
    padding: 8px 16px;
    position: relative;
    display: none;
}
.div_for_more_comment{
    width: 100%;
    height: 20px;
    text-align: center;
}
.more_comment{
    cursor: pointer;
}
.cover_for_comment{
    background-color: rgba(0, 0, 0, 0.4);
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0;
    left:0;
    z-index:900;
}
.comment_box{
    display: none;
    background-color: red;
    width: 600px;
    height: 400px;
    z-index: 999;
    margin: auto;
}
.comment_detail{
    background-color: floralwhite;
    overflow: auto;
    display: grid;
    width: 100%;
    z-index: 1000;
    margin: auto;
    height: 100%;
    padding: 10px;
}
