html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    display: inline-flex;
    width: 100%;
    height: 100%;
    font-family: arial;
    background-size: cover;
    background: url("http://s1.picswalls.com/wallpapers/2016/06/10/4k-desktop-wallpaper_065227602_309.jpg") no-repeat;
}

.left-login {
    width: 70%;
    height: 100%;
}

.top-left-login {
    width: 100%;
    height: calc(100% - 13vw);
    display: block;
}

.top-left-login > img {
    width: 70%;
    height: auto;
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    opacity: 0.85;
}

.bottom-left-login {
    width: 100%;
    height: 13vw;
    background: #a3a4a685;
    margin: auto;
    display: block;
}

.full-list {
    height: 85%;
    display: inline-flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-bottom {
    background: #0064ff;
    height: 100%;
    width: 11.1vw;
    margin: 0 10px;
    overflow: hidden;
    display: flex;
    border: 2px solid #f2f2f2;
}

.list-bottom > img {
    height: 100%;
    width: auto;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* margin: auto; */
    /* display: flex; */
}

.list-bottom > p {
    position: absolute;
    width: 11.05vw;
    text-align: center;
    background: #26292ce0;
    bottom: 5px;
    padding: 7px 0;
    margin: 0;
    color: #c2c2da;
    font-size: 1.3vw;
}

.right-login {
    width: 30%;
    min-width: 320px;
    height: 100%;
    background: #0000008c;
    position: relative;
    z-index: 1;
}

.top-right-login {
    width: 100%;
    height: 40px;
    background: #052650e3;
}

.main-right-login {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    /* background: url("/img/login-background.jpg"); */
    background-size: cover;
}

.login-register {
    width: 100%;
    height: 40px;
    display: inline-flex;
    text-align: center;
}

.lgr {
    width: 50%;
    height: 100%;
    display: flex;
    background: #000d19;
    margin-top: 8px;
    color: wheat;
}

.lgr > p {
    width: 100%;
    margin: 0;
    display: block;
    margin: auto;
}

.login {
    width: 100%;
    height: calc(100% - 40px);
    padding-top: 15px;
}

.login > input {
    outline: none;
    border: none;
}

.input-text {
    display: block;
    margin: auto;
    margin-top: 20px;
    width: 85%;
    height: 40px;
    padding: 0 10px;
    background: #0a1d2db5;
    color: white;
}

.input-btn {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    height: 40px;
    font-size: 16px;
    background: #489e9ede;
    color: white;
}

.cover-login {
    width: 80%;
    height: 275px;
    background: #9898a440;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    border-radius: 10px;
}

@media (max-width: 1300px) {
    .list-bottom:first-child {
        display: none;
    }
}

@media (max-width: 1000px) {
    .list-bottom:nth-child(2) {
        display: none;
    }
}

@media (max-width: 800px) {
    .left-login {
        display: none;
    }

    .right-login {
        width: 35%;
        min-width: 320px;
        height: 100%;
        background: #0000008c;
        position: relative;
        z-index: 1;
        margin: auto;
    }
}