html body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  display: flex;
}
p {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  word-break: break-word;
}
.left-menu {
  width: 160px;
  background: url("http://s1.picswalls.com/wallpapers/2016/06/10/4k-hd-wallpapers_065228558_309.jpg");
  z-index: 2;
  position: fixed;
  height: 100%;
  background-size: cover;
}

.main {
  background-color: #ffffff;
  min-height: 700px;
  position: relative;
  margin-left: auto;
}

.top-menu {
  height: 6.5vh;
  min-height: 35px;
  background-color: #333f50;
  position: fixed;
  z-index: 2;
  display: inline-flex;
}

.container {
  width: 100%;
  height: 100%;
  min-height: 650px;
  float: bottom;
  position: relative;
}

.chat {
  background: url("../img/people-background.jpg");
  width: 15%;
  height: 100%;
  right: 0;
  position: fixed;
  background-size: cover;

}

.people {
  background: url("../img/people-background.jpg");
  width: 20%;
  height: 100%;
  right: 15%;
  position: fixed;
  background-size: cover;
}

.content {
  background: #efefef;
  float: left;
  width: 0px;
  min-height: 1000px;
  height: 100%;
}
a {
  text-decoration: none;
}
.first-top-menu {
  height: 100%;
/*  width: 59.3%; */
  background: none;
  display: inline-flex;
}
.search-top-cover {
  height: 4.6vh;
  min-height: 15px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.search-left-icon {
  display: inline-flex;
  margin-right: 0.5vh;
}
.search-left-icon > img {
  width: 4.2vh;
  height: 4.2vh;
  min-width: 13px;
  min-height: 13px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search-top-center {
  height: 100%;
  display: flex;
  padding: 0;
  background: aliceblue;
  border-radius: 4.5vh;
}
.search-top-center > input {
  width: 35vw;
  min-width: 110px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-style: none;
  background: none;
  font-size: 2vh;
  font-family: arial;
  outline: none;
  padding-left: 1vh;
}
.search-right-icon {
  display: inline-flex;
  width: 4vh;
  height: 4vh;
  background: #8f8f8f;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 0.4vh;
}
.search-right-icon > img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3vh;
  height: 3vh;
  min-width: 15px;
  min-height: 15px;
}
.second-top-menu {
  display: none;
  background: none;
  height: 100%;
  margin-left: auto;
  width: 20%; 
}
.third-top-menu {
  background: none;
  height: 100%;
  width: 20%;
  margin-left: auto;
  display: flex;
}
.search-chat2 {
  height: 2.3vw;
  min-height: 30px;
  width: 95%;
  background: #0f0f0f;
  display: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1vw;
  z-index: 1;
  border: 0.1vw solid #a6a6a6;
}

.icon-search-chat2 {
  background: #bab3b3;
  padding: 0 0.5vw;
  /* border-radius: 1vw; */
  display: flex;
  margin-left: 0.9vw;
}
.icon-search-chat2 > img {
  width: 3vh;
  height: 2.8vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.content-search-chat2 {
  display: flex;
}
.content-search-chat2 > input {
  font-size: 2vh;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border-style: none;
  margin-left: 1vh;
}
.test {
  display: none;
  width: 14.4vw;
  position: absolute;
  margin-left: 0.75vw;
  border: 0.5vw solid #a2a2a2;
  /* border-radius: 0.5vw; */
  background: #a2a2a2;
  border-top-style: none;
  margin-top: 38px;
  /* top: 3.7vw; */
  /* left: 50%; */
  /* transform: translateX(70%); */
}
.main-chat2{
  max-height: 18.3vw;
  background: none;
}
.list-chat2 {
  width: 100%;
  display: flex;
  background: #43474a;
}
.list-chat2:hover {
  background: #4c4c4c;
}
.div-list-chat-ava2 {
  position: relative;
  height: 100%;
  background: #5e5e5e;
  padding: 0.3vw 0.3vw;
  /* padding-right: 0.5vw; */
}
.list-chat-ava2 {
  width: 2vw;
  height: 2vw;
  float: left;
  /* margin: 0 0 0 0.5vw; */
}
.list-chat-status2 {
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.1vw -0.2vw;
  position: absolute;
}
.list-chat-name2 {
  color: #bf5e5e;
  margin-left: 0.8vw;
}
.list-chat-name2 > p {
  color: #fafafa;
  font-size: 0.8vw;
  font-family: arial;
}
.list-chat-img2 {
  position: relative;
  margin-left: auto;
}
.list-chat-img2 > img {
  width: 1.6vw;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  margin-bottom: 12px 3px;
}
.main-people2{
  background: #d4d6e3;
  height: 97vh;
}
.type-people2 {
  height: 100%;
  width: 100%;
  background: #a9a9a9;
  display: flex;
  z-index: 2;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.type-people-ava2 {
  position: relative;
}
.type-people-ava2 > img {
  width: 4vh;
  border-radius: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0.5vh;
}
.type-people-content2 {
  position: relative;
  /* padding: 0; */
  width: calc(100% - 4.5vw);
}
.type-people-content2 > textarea {
  background: #ffffff;
  width: 12vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-style: none;
  padding: 0.5vw;
  border-radius: 2vh;
  font-family: arial;
  font-size: 1.7vh;
  resize: none;
  border: none;
  outline: none;
  margin: 0;
  margin-left: 0.5vw;
  color: #484849;
}
.type-people-content2 > textarea::placeholder {
  color: #484849;
}
.bonus-top-menu{
  display: none;
  width: 0px;
  height: 100%;
  background: #00497e73;
}
.second-mobile{
  display: none;
  background: #153c778c;
  width: 0px;
  height: 100%;
}
.third-mobile{
  display: none;
  background: #264779c7;
  width: 0px;
  height: 100%;
}
.top-mobile{
  width: 20px;
  height: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.top-mobile-ava{
  width: 25px;
  height: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* border: 1px solid #4e4e4e; */
}

/*
::-webkit-scrollbar {
  width: 0;
}
*/
@media (max-width: 1300px) {
  .people {
    display: none;
    width: 0px;
  }
  .chat {
    display: none;
    width: 0px;
  }

  .search-chat2{
    display: inline-flex;
  }
  .second-top-menu{
    display: unset;
  }
}
@media (max-width: 1100px) {
  .main-people2{
    display: none;
    width: 0px;
  }
}
@media (max-width: 900px) {
  .search-chat2{
    display: none;
    width: 0px;
  }
  .type-people2{
    display: none;
    width: 0px;
  }
  .second-top-menu{
    width: unset;
  }
  .third-top-menu{
    width: unset;
  }
  .second-mobile{
    display: flex;
    width: 35px;
  }
  .third-mobile{
    display: flex;
    width: 35px;
  }

}
@media (max-width: 750px) {
  .left-menu{
    display: none;
    width: 0px;
    min-width: 0px;
  }
  .bonus-top-menu{
    display: flex;
    width: 35px;
  }
}

img[src="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"]{
  display:none;
  }