<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/taskbar.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link rel="stylesheet" href="../assets/css/message.css">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled React -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>

<body>
<div id="main-task-bar">
    <div id="zone1" class="task-bar">
        <div id="main-task-bar-info" class="mid if">
            <div id="main-task-bar-logo" class="mid if">
                <i class="fab fa-windows fa-2x ma"></i>
            </div>
            <div id="main-task-bar-name" class="mid if">
                <p class="mid ma">SPACENET</p>
            </div>
        </div>
        <div id="main-task-bar-search" class="mid if">
            <input id="search-bar" type="text" placeholder="Tìm kiếm...">
            <div id="search-bar-icon" class="if">
                <i class="far fa-search fa-lg ma"></i>
            </div>
        </div>
        <div id="notification-icon" class="task-bar-icon mid if">
            <i class="fas fa-bells fa-lg ma"></i>
            <div id="notification-zone">
                <div id="notification-zone-include">
                    <div class="notification-child seen">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child seen">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                    <div class="notification-child">
                        <div class="nt-avatar">
                            <img src="http://localhost:63342/SocialNetwork/web/assets/img/hstava.png" alt="">
                        </div>
                        <div class="nt-content">
                            <p><b>Trung Anh</b> đã bình luận vào bài đăng của bạn</p>
                        </div>
                        <div class="nt-icon">
                            <i class="fa fa-heart"></i>
                        </div>
                    </div>
                </div>
                <div id="notification-zone-mark">
                    <p>Đánh dấu tất cả đã đọc</p>
                </div>
            </div>
        </div>
        <div id="friend-icon" class="task-bar-icon mid if">
            <i class="fas fa-user-friends fa-lg ma"></i>
        </div>
    </div>
    <div id="zone2" class="task-bar"></div>
    <div id="zone3" class="task-bar">
        <div class="col-sm-3 if">
            <img id="task-bar-ava" class="ma" src="https://bit.ly/2ZeCbaL" alt="">
        </div>
        <div class="col-sm-7 if">
            <p id="task-bar-name" class="ma">Vĩnh Hân</p>
        </div>
        <i class="far fa-chevron-down fa-lg ma"></i>
        <div id="zone3-down">
            <div class="zone3-option">
                <div class="col-sm-3 if">
                    <i class="fas fa-home-lg-alt fa-lg ma"></i>
                </div>
                <div class="col-sm-7 if">
                    <p class="zone3-option-name ma">Trang cá nhân</p>
                </div>
                <i class="far fa-chevron-right fa-lg ma"></i>
            </div>
            <div class="zone3-option">
                <div class="col-sm-3 if">
                    <i class="fas fa-tools fa-lg ma"></i>
                </div>
                <div class="col-sm-7 if">
                    <p class="zone3-option-name ma">Cài đặt</p>
                </div>
                <i class="far fa-chevron-right fa-lg ma"></i>
            </div>
            <div class="zone3-option">
                <div class="col-sm-3 if">
                    <i class="fas fa-sign-out fa-lg ma"></i>
                </div>
                <div class="col-sm-7 if">
                    <p class="zone3-option-name ma">Đăng xuất</p>
                </div>
                <i class="far fa-chevron-right fa-lg ma"></i>
            </div>
        </div>
    </div>

</div>
<div id="main-section">
    <!--TRÍ CODE HERE-->
    <div id="view">
        <iframe src="../views/view.html" frameborder="0" width="100%" height="100%"></iframe>
    </div>

    <!--PORN CODE HERE-->
    <div id="message">
        <div id="chat_bar">
            <!--            <input type="button" id="mess_button" style="background: url('../assets/img/ico-show-chat-48x.png')"/>-->
            <button id="All_chat_tab" class="chat_tab" onclick="changeColor()">ALL</button>
            <button chatid="1" class="chat_tab">
                <div class="chat_tab_ava"><img src="https://bit.ly/2ZeCbaL" alt=""></div>
                <div class="chat_tab_name"><p>Hân</p></div>
            </button>
            <button chatid="2" class="chat_tab">
                <div class="chat_tab_ava"><img src="https://bit.ly/2ZeCbaL" alt=""></div>
                <div class="chat_tab_name"><p>Hân</p></div>
            </button>
            <button chatid="3" class="chat_tab">
                <div class="chat_tab_ava"><img src="https://bit.ly/2ZeCbaL" alt=""></div>
                <div class="chat_tab_name"><p>Hân</p></div>
            </button>
        </div>
        <div id="chat_body">
            <div chatid="1" class="chat_region">
                <div class="other_chat">
                    <div class="other_chat_ava">
                        <img class="mid" src="https://bit.ly/2ZeCbaL" alt="">
                    </div>
                    <div class="other_chat_mess">
                        <p class="mid">Chào bạn</p>
                    </div>
                </div>
                <div class="other_chat">
                    <div class="other_chat_ava">
                        <img src="https://bit.ly/2ZeCbaL" alt="">
                    </div>
                    <div class="other_chat_mess">
                        <p>Chào bạn Chào bạn Chào bạn Chào bạn Chào bạn Chào bạn Chào bạn Chào bạn Chào bạn</p>
                    </div>
                </div>
                <div class="your_chat">
                    <div class="your_chat_mess">
                        <p>Chào bạn</p>
                    </div>
                    <div class="your_chat_ava">
                        <img src="https://bit.ly/2ZeCbaL" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="input_chat" class="if">
            <div id="input_chat_content">
                <input type="text" id="chat_box" placeholder="Say something...."></input>
            </div>
            <div id="input_chat_send">
                <i class="fas fa-paper-plane fa-lg"></i>
            </div>
        </div>
    </div>

    <!--HÂN CODE HERE-->
    <div id="contact">
        <div id="contact-search" class="if">
            <input type="text" placeholder="Tìm kiếm..." name="contact-search-input" class="ma">
        </div>
        <div id="contact-main">
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <img class="contact-main-people-online"
                         src="https://cdn.clipart.email/33e1f7cb7397d141c79db0c12ad1ac75_filegreen-light-iconsvg-wikimedia-commons_232-232.png"
                         alt="">
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <img class="contact-main-people-online"
                         src="https://cdn.clipart.email/33e1f7cb7397d141c79db0c12ad1ac75_filegreen-light-iconsvg-wikimedia-commons_232-232.png"
                         alt="">
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <img class="contact-main-people-online"
                         src="https://cdn.clipart.email/33e1f7cb7397d141c79db0c12ad1ac75_filegreen-light-iconsvg-wikimedia-commons_232-232.png"
                         alt="">
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <div class="contact-main-people-offline if">
                        <p class="ma">25m</p>
                    </div>
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <div class="contact-main-people-offline if">
                        <p class="ma">25m</p>
                    </div>
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
        </div>
        <div id="contact-button" class="row ma">
            <div id="contact-button-recent" class="col if">
                <i class="fal fa-envelope-open fa-lg ma"></i>
                <p id="count-recent" class="contact-count">20</p>
            </div>
            <div id="contact-button-online" class="col if">
                <i class="fal fa-user-friends fa-lg ma"></i>
                <p id="count-online" class="contact-count">10</p>
            </div>
            <div id="contact-button-setting" class="col if">
                <i class="fal fa-cog fa-lg ma"></i>
            </div>
        </div>
    </div>
</div>

<script type="text/babel" src="../assets/js/chat_tab.js"></script>

<script type="text/babel" src="../assets/js/contact.jsx"></script>
</body>
</html>