<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <link rel="stylesheet" href="../assets/css/message.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" media="all">
    <script src="https://kit.fontawesome.com/2b45e9c5d6.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled React -->
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
</head>

<body>
<div id="main-task-bar"></div>
<div id="main-section" >
    <!--TRÍ CODE HERE-->
    <div id="view"></div>

    <!--PORN CODE HERE-->
    <div id="message">
        <div id="chat_bar">
            <input type="button" class="mess_button" style="background: url('../assets/img/ico-show-chat-48x.png')"/>
            <button id="All_chat_tab" onclick="changeColor()">ALL</button>
            <button class="chat_tab"> <img class="chat_ava_tab" src="https://bit.ly/2ZeCbaL" alt=""> Vĩnh Hân</button>
            <button class="chat_tab"> <img class="chat_ava_tab" src="../assets/img/smiling.png" alt=""> Smile </button>
        </div>
        <div class="chat_body">
            <div>
                <img class="chat_ava_mess" src="https://bit.ly/2ZeCbaL" alt="">
            </div>
            <div class="other_chat_mess">
                <div>Hé lô mấy cưng!!</div>
                <div>Tao vừa rủ crush đi chơi nè :))</div>
            </div>
            <div class="other_chat_mess">
                <div>Mà chưa thấy Crush rep nơi :((</div>
                <div>Crush chảnh vl :((</div>
            </div>
            <div>
                <img class="chat_ava_mess" src="../assets/img/smiling.png" alt="">
            </div>
            <div class="other_chat_mess">
                <div>Thế mày rủ nó đi đâu ??</div>
            </div>
            <div>
                <img class="chat_ava_mess" src="https://bit.ly/2ZeCbaL" alt="">
            </div>
            <div class="other_chat_mess">
                <div>Tau hỏi nó "Em ăn cơm chưa?"</div>
                <div>Nó rep "em chưa"</div>
            </div>
            <div class="other_chat_mess">
                <div>Thế là tau rủ nó đi ăn vịt quay Bắc Kinh :))</div>
            </div>
            <div>
                <img class="chat_ava_mess" src="../assets/img/thatim.png" alt="">
            </div>
            <div class="other_chat_mess">
                <div>Ờ</div>
            </div>
            <div>
                <img class="chat_ava_mess" src="https://bit.ly/2ZeCbaL" alt="">
            </div>
            <div class="other_chat_mess">
                <div>Ể ể ,ẻm đang rep</div>
            </div>
            <div>
                <img class="chat_ava_mess" src="../assets/img/smiling.png" alt="">
            </div>
            <div class="other_chat_mess">
                <div>Để tao đoán...</div>
            </div>
            <div>
                <img class="chat_ava_mess" src="https://bit.ly/2ZeCbaL" alt="">
            </div>
            <div class="other_chat_mess">
                <div>"Hẹn anh khi khác, crush chở em đi ăn rồi" :)</div>
            </div>
            <div>
                <img class="chat_ava_mess" src="../assets/img/smiling.png" alt="">
            </div>
            <div class="other_chat_mess">
                <div><div>またこんど</div></div>
            </div>
            <div>
                <img class="chat_ava_mess" src="../assets/img/thatim.png" alt="">
            </div>
            <div class="other_chat_mess">
                <div>Đù, răn m đoán hay ghê rứa :v</div>
            </div>
            <div id="your_chat_mess">
                We are just ともだち :)))
            </div>
        </div>
        <div id="input_chat_mess">
            <div>
                <textarea id="chat_box" placeholder="Say something...."></textarea>
                <input type="button" style=" border: none; width: 64px; height: 64px; float: right;background: url('../assets/img/forward.png')"/>
            </div>
        </div>
    </div>

    <!--HÂN CODE HERE-->
    <div id="contact">
        <div id="contact-search" class="if">
            <input type="text" placeholder="Tìm kiếm..." name="contact-search-input" class="ma">
        </div>
        <div id="contact-main">
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <img class="contact-main-people-online" src="https://cdn.clipart.email/33e1f7cb7397d141c79db0c12ad1ac75_filegreen-light-iconsvg-wikimedia-commons_232-232.png" alt="">
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <img class="contact-main-people-online" src="https://cdn.clipart.email/33e1f7cb7397d141c79db0c12ad1ac75_filegreen-light-iconsvg-wikimedia-commons_232-232.png" alt="">
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <img class="contact-main-people-online" src="https://cdn.clipart.email/33e1f7cb7397d141c79db0c12ad1ac75_filegreen-light-iconsvg-wikimedia-commons_232-232.png" alt="">
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <div class="contact-main-people-offline if">
                        <p class="ma">25m</p>
                    </div>
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
            <div class="contact-main-people">
                <div class="col-sm-3 if">
                    <img class="contact-main-people-img ma" src="https://bit.ly/2ZeCbaL" alt="">
                    <div class="contact-main-people-offline if">
                        <p class="ma">25m</p>
                    </div>
                </div>
                <div class="col-sm-7 if">
                    <p class="contact-main-people-name ma">Vĩnh Hân</p>
                </div>
                <i class="far fa-comment fa-lg ma"></i>
            </div>
        </div>
        <div id="contact-button" class="row ma">
            <div id="contact-button-recent" class="col if">
                <i class="fal fa-envelope-open fa-lg ma"></i>
            </div>
            <div id="contact-button-online" class="col if">
                <i class="fal fa-user-friends fa-lg ma"></i>
            </div>
            <div id="contact-button-setting" class="col if">
                <i class="fal fa-cog fa-lg ma"></i>
            </div>
        </div>
    </div>
</div>

<!--    <script type="text/babel" src="../assets/js/contact.jsx"></script>-->
</body>
</html>