<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../assets/fontawesome/css/all.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/view.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/reactBtns.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="../assets/js/react_effect.js"></script>
    <style>
        input:focus {
            outline: none !important;
        }
    </style>
</head>

<body>
<div class="main_container">
    <div class="main_content">
        <img class="avatar" id="avatar_img"
             src="../assets/img/smiling.png">
        <div id="w_status">
            <textarea id="status_content" placeholder="What do you think?"></textarea>
        </div>
        <div id="status_button">
            <button type="button" class="but noneOutline">
                <span class="addPic"><i class="fas fa-images"></i></span></button>
            <button type="button" class="but noneOutline" id="post_button">
                <span class="post"><i class="fas fa-paper-plane"></i></span></button>
        </div>
    </div>


</div>
<div class="main_container">

    <div class="main_content">
        <div style="display: inline-flex">
            <img class="avatar" src="../assets/img/hstava.png"/>
            <p class="user_name">Vĩnh Hân</p>
        </div>
        <div class="newFeedTime"> 1 minute ago</div>
        <hr>
        <div>
            <p class="para">
                There are three reasons why I prefer jogging to other sports.
                One reason is that jogging is a cheap sport.
                I can practise it anywhere at any time with no need for a ball or any other equipment.
                Another reason why I prefer jogging is that it is friendly to my heart.
                I don’t have to exhaust myself or do excessive efforts while jogging.
                Finally, I prefer this sport because it is safe.
                It isn’t as risky as other sports like gymnastics, racing or horseback riding.
                For all these reasons, I consider jogging the best sport of all.
            </p>
        </div>
        <div class="story_action" style="display: inline">
            <div class="div_for_reactBtn">
                <button class="reaction_Button reactBtn noneOutline"><span class="react react_font "><i
                        class="fab fa-react"></i></span></button>
                <button class="reaction_Button thumbs-upBtn noneOutline"><span class="thumbs react_font "><i
                        class="far fa-thumbs-up"></i></span></button>
                <button class="reaction_Button thumbs-downBtn noneOutline"><span class="thumbs react_font "><i
                        class="far fa-thumbs-down"></i></span></button>
                <button class="reaction_Button heartBtn noneOutline"><span class="heart react_font "><i
                        class="fas fa-heart"></i></span></button>
                <button class="reaction_Button laughBtn noneOutline"><span class="face react_font "><i
                        class="far fa-laugh-squint"></i></span></button>
                <button class="reaction_Button cryBtn noneOutline"><span class="face react_font "><i
                        class="far fa-sad-cry"></i></span></button>
            </div>
            <div class="div_for_users_react thumbs">
                <span class="thumbs">Crush and 5 other had Laugh....</span>
            </div>
            <div class="div_for_comment_btn">
                <button class="commentBtn noneOutline"><span class="thumbs react_font"><i
                        class="far fa-comment-alt"></i></span></button>
            </div>
        </div>


        <div class="comment" >
            <div class="comment_container" style="display: block">
                <div class="user_comment_ava">
                    <img class="avatar" src="../assets/img/hstava.png"/>
                </div>
                <div class="user_comment_detail">
                    <span>Not thing to post</span>
                </div>
            </div>
            <div class="comment_container" style="display: block">
                <div class="user_comment_ava">
                    <img class="avatar" src="../assets/img/hstava.png"/>
                </div>
                <div class="user_comment_detail">
                    <span>Not thing to post </span>
                </div>
            </div>

            <div class="comment_container" style="display: block">
                <div class="user_comment_ava">
                    <img class="avatar" src="../assets/img/hstava.png"/>
                </div>
                <div class="your_comment_detail">
                    <input type="text" placeholder="Your comment" class="your_comment_text">
                </div>
                <div class="post_comment_but">
                    <button type="button" class="commentBtn noneOutline ">
                        <i class="fal fa-pen-square fa-2x"></i>
                    </button>

                </div>
            </div>

        </div>

    </div>
</div>

<div class="main_container">

    <div class="main_content">
        <div style="display: inline-flex">
            <i style="color: #4d85c1" class="far fa-user fa-3x avatar"></i>
            <p style="margin-left: 3px" id="user_name">Trung Anh</p>
        </div>
        <div class="newFeedTime"> 35 minutes ago</div>
        <hr>
        <div>
            <p class="para">
                Wonderful scene!!!
            </p>
            <img class="pic" src="https://www.w3schools.com/w3images/lights.jpg" height="300px">
        </div>
        <div class="div_for_reactBtn">
            <button class="reaction_Button reactBtn"><span class="react react_font "><i class="fab fa-react"></i></span>
            </button>
            <button class="reaction_Button thumbs-upBtn"><span class="thumbs react_font "><i
                    class="far fa-thumbs-up"></i></span></button>
            <button class="reaction_Button thumbs-downBtn"><span class="thumbs react_font "><i
                    class="far fa-thumbs-down"></i></span></button>
            <button class="reaction_Button heartBtn"><span class="heart react_font "><i class="fas fa-heart"></i></span>
            </button>
            <button class="reaction_Button laughBtn"><span class="face react_font "><i class="far fa-laugh-squint"></i></span>
            </button>
            <button class="reaction_Button cryBtn"><span class="face react_font "><i class="far fa-sad-cry"></i></span>
            </button>
        </div>
        <div class="div_for_users_react thumbs">
            <span class="react_announce">NOBODY and 2 other had Liked</span>
        </div>
        <div class="div_for_comment_btn">
            <button class="commentBtn noneOutline"><span class="thumbs react_font"><i
                    class="far fa-comment-alt"></i></span></button>
        </div>
    </div>
</div>
</body>
</html>