<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="..//assets/css/view.css">
</head>

<body>
<div class="main_container">
    <!--
    <div class="avatar">

    </div>
-->
    <div class="main_content">
        <img class="avatar" id="avatar_img"
             src="../assets/img/smiling.png">
        <div id="w_status">
            <textarea id="status_content" placeholder="What do you think?"></textarea>
        </div>
        <div id="status_button">
            <button type="button" class="but">
                <i class="fas fa-images"></i> Chèn ảnh </button>
            <button type="button" class="but" id="post_button">
                <i class="fas fa-paper-plane"></i> Đăng </button>
        </div>
    </div>


</div>
<div class="main_container">

    <div class="main_content">
        <div style="display: inline-flex">
            <img class="avatar" src="../assets/img/hstava.png"/>
            <p class="user_name">Vĩnh Hân</p>
        </div>
        <div class="newFeedTime"> 1 minute ago</div>
        <hr>
        <div>
            <p>
                There are three reasons why I prefer jogging to other sports.
                One reason is that jogging is a cheap sport.
                I can practise it anywhere at any time with no need for a ball or any other equipment.
                Another reason why I prefer jogging is that it is friendly to my heart.
                I don’t have to exhaust myself or do excessive efforts while jogging.
                Finally, I prefer this sport because it is safe.
                It isn’t as risky as other sports like gymnastics, racing or horseback riding.
                For all these reasons, I consider jogging the best sport of all.
            </p>
            <div>
                <button type="button"><i class="far fa-thumbs-up"></i> Like </button>
                <button type="button"><i class="far fa-comment"></i> Comment </button>
            </div>

        </div>
    </div>
</div>

<div class="main_container">

    <div class="main_content">
        <div style="display: inline-flex">
            <i style="color: #4d85c1" class="far fa-user fa-3x avatar"></i>
            <p style="margin-left: 3px" id="user_name">Trung Anh</p>
        </div>
        <div class="newFeedTime"> 35 minutes ago</div>
        <hr>
        <div>
            <p>
                Wonderful scene!!!
            </p>
            <img src="https://www.w3schools.com/w3images/lights.jpg" height="300px" style="padding: 10px 16px">
            <div>
                <button type="button"><i class="far fa-thumbs-up"></i> Like </button>
                <button type="button"><i class="far fa-comment"></i> Comment </button>
            </div>

        </div>
    </div>
</div>
</body>

</html>